<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Vendas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Minhas Vendas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Painel de Vendas", "Index", "PainelDeVendas")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Clientes", "index", "Cliente")</li>
                            <li>@Html.ActionLink("Fornecedores", "index", "Fornecedor")</li>
                            <li>@Html.ActionLink("Produtos", "index", "Produto")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Tipo de Produtos","index","TipoProduto")</li>
                            <li>@Html.ActionLink("Tipo de Pagamentos","index","TipoPagamento")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Movimentações <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Pedidos", "index", "Pedido")</li>
                            <li>@Html.ActionLink("Vendas", "index", "Venda")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Baixas", "index", "Baixa")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Contas a Pagar", "index", "ContaPagar")</li>
                            <li>@Html.ActionLink("Contas a Receber", "index", "ContaReceber")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Relatorios", "index", "Relatorio")</li>
                    <li>@Html.ActionLink("Configuração", "index", "Configurar")</li>
                    <li>@Html.ActionLink("Sobre", "index", "Sobre")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Minhas Vendas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
